body {
  background-color: rgb(255, 255, 255);
}
h1 {
  color: rgb(0, 0, 0);
  font-family: 'Courier New', Courier, monospace;
  padding-left: 5px;
}
table, th, td {
  border: 3px solid rgb(0, 0, 0);
  font-family: 'Courier New', Courier, monospace;
}
table {
  border-collapse: collapse;
  float: right;
}
#navBar {
  list-style: none;
  background-color: #AEB877;
  padding: 10px;
  position: sticky;
}

#navBar li {
  display: inline-block;
  margin-right: 20px;
  vertical-align: middle;
}
button {
  float: right;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}