body {
  background-color: rgb(255, 255, 255);
}
h1 {
  color: rgb(0, 0, 0);
  font-family: 'Courier New', Courier, monospace;
  padding-left: 5px;
}
table, th, td {
  border: 3px solid rgb(0, 0, 0);
  font-family: 'Courier New', Courier, monospace;
}
table {
  border-collapse: collapse;
  float: right;
}
p {
  font-family: 'Courier New', Courier, monospace;
}
#navBar {
  list-style: none;
  background-color: #AEB877;
  padding: 10px;
  position: sticky;
}

#navBar li {
  display: inline-block;
  margin-right: 20px;
  vertical-align: middle;
}
ul li a button {
  background-color: #a5a04b;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
}
ul li a button {
  background-color: #a5a04b;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
}
ul li a button:hover {
  background-color: #a5a04b;
  border: none;
  color: rgb(0, 0, 0);
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}