<head>
<title>Little Joe Dashboard</title>
<link rel="stylesheet" href="{{url_for('static', filename='styles.css')}}">

<ul id="navBar">
    <li><h1>Little Joe Dashboard</h1></li>
</ul>

<a href="https://docs.google.com/spreadsheets/d/e/2PACX-1vTlrhEjK7N8t5rG0kyddsc40PY5xdliOVsMsoMq0Nd-CQ554JfyIcqpHbAHhOfnZvJuSiS3jD7agyEr/pub?gid=0&single=true&output=csv&urp=gmail_link" target="_blank"><button>Download data</button></a>
</head>
<img src="{{url_for('static', filename='soil_moisture_probe.jpeg')}}" align="middle" />
<table id="dataTable">
    <tr>
        <td>Time</td>
        <td>Value</td>
    </tr>
    {% for i in range(rows) %}
    <tr>
        <td>{{data[i][0]}}</td>
        <td>{{data[i][1] | float | round(2)}}</td>
    </tr>
    {% endfor %}
</table>